/* Skills.css */
.skills-section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #007bff;
  margin-bottom: 40px;
}

.skill-card {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.skills-list li {
  font-size: 1.2rem;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skills-list li svg {
  margin-right: 10px;
  color: #007bff;
  font-size: 1.5rem;
}

.skill-card h4 {
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}
